.header {
    background-color: var(--primary);
    height: auto;
    padding: 20px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    font-size: 16px;
    letter-spacing: 0px;
    font-family: 'Roboto Slab', serif;
    color: white;
    flex-wrap: wrap;
}

.logotype {
    margin-bottom: 15px;
    margin-top: -5px;
    padding: 0;
    order: 1;
    font-weight: 700;
}

.search {
    border-radius: 5px;
    border: none;
    padding: 0px;
    width: 100%;
    color: black;
    font-family: 'Roboto Slab', serif;
    letter-spacing: 0.35px;
    line-height: 14px;
    font-size: 14px;
    order: 3;
    z-index: 2;
    margin-top: 6px;
}

.header-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    order: 2;
}

i {
    font-family: FontAwesome;
    font-size: 32px;
    justify-self: center;
    cursor: pointer;
}

.fa-github {
    margin-left: 25px;
    margin-right: 25px;
}

@media screen and (min-width: 1200px) {

    .header {
        flex-direction: row;
        align-items: flex-start;
        height: 75px;
        /* box-shadow: 0px 3px 20px 0px rgba(50, 50, 50, 0.66); */
        /* box-shadow: 0px 0.25px 4px 0px white; */
            
    }
    
    .logotype {
        flex-grow: 0;
        padding: 0px;
        margin-bottom: 0px;
        margin-left: 10px;
        /* margin-top: -10px; */
        vertical-align: top;
    }
    
    .search {
        border-radius: 5px;
        border: none;
        padding: 0px;
        width: 35%;
        order: 2;
        margin-top: 0px;
    }

    .fa-github {
        margin-right: 0px;
    }

    .header-nav {
        order: 3;
        margin-right: 20px;
    }

    i {
        margin-left: 28px;
    }

}

@media screen and (min-width: 1400px) {
    .header-nav {
        margin-right: 40px;
    }
}