.info-sidebar {
    width: 100%;
    display: block;
    background-color: snow;
    border: 1px solid slategray;
    border-radius: 4px;
    margin-right: 0px;
    margin-bottom: 20px;
    padding: 20px;
    padding-left: 40px;
    padding-right: 40px;
}

.info-sidebar-header {
    font-family: 'Roboto Slab', serif;
    font-weight: 300;
    font-size: 38px;
}

.info-graf {
    font-family: 'Roboto Slab', serif;
    font-weight: 300;
    font-size: 21px;
}

@media screen and (min-width: 1200px) {

    .info-sidebar {
        width: 225px;
        background-color: white;
        padding-left: 10px;
        padding-right: 20px;
        margin-right: 10px;
        margin-bottom: 0;
        padding-bottom: 0;
        border: none;
        border-right: 1px solid slategray;
        border-radius: 0;
        height: auto;
        overflow: scroll;
        overflow-x: hidden;
        flex-grow: 1;
    }

    .info-sidebar-header {
        font-family: 'Roboto Slab', serif;
        font-weight: 600;
        font-size: 28px;
    }
    
    .info-graf {
        font-family: 'Roboto Slab', serif;
        font-weight: 300;
        font-size: 19px;
        word-break: break-word;
    }

  
    
  }