.App-header {
  background-color: blue;
  height: 65px;
  padding: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: 12px;
  letter-spacing: 0px;
  font-family: 'Press Start 2P';
  color: white;
}

.search {
  border-radius: 15px;
  border: none;
  padding: 10px;
  width: 25%;
}

h1, h2, h3, h4 {
  margin: 0;
  padding: 0;
}

main {
  padding: 20px;
}

.calendar-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 900px;
}

.sidebar-left {
  width: 100%;
  display: block;
  background-color: silver;
  margin-right: 0px;
  margin-bottom: 20px;
  padding: 20px;
}

.sidebar-right {
  width: 100%;
  padding: 20px;
  margin-left: 0px;
  margin-top: 20px;
  display: block;
  background-color: silver;
}

.fc-toolbar {
  flex-direction: column;
  align-items: flex-start;
  height: 95px;
}

.fc-right {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

/* UNIFY TOOLBAR */
  
@media screen and (min-width: 600px) {

  .fc-toolbar {
    flex-direction: row;
    height: auto;
    justify-content: space-between;
  }

  .fc-right {
    width: initial;
  }
  
}


/* TABLET BREAKPOINT */
  
@media screen and (min-width: 720px) {
  
}


/* DESKTOP BREAKPOINT */

@media screen and (min-width: 1200px) {

  /* .App-header {
    height: 150px;
  } */

  .calendar-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: auto;
  }

  .sidebar-left {
    width: 200px;
    display: block;
    background-color: silver;
    margin-right: 0px;
    margin-bottom: 0px;
    padding: 20px;
  }

  .sidebar-right {
    width: 200px;
    padding: 20px;
    margin-left: 0px;
    margin-top: 0px;
    display: block;
    background-color: silver;
  }

  .fc {
    width: 75%;
    padding-left: 20px;
    padding-right: 20px;
  }

  .fc-toolbar {
    margin-bottom: 1em !important;
  }

  .modal-heading {
    padding-right: 80px;
  }

  
}