.App-header {
  background-color: #282c34;
  height: 200px;
  /* min() */
  /* height: calc(8rem + 9vw); */
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(0.5rem + 1.75vw);
  font-family: 'Consolas';
  color: white;
}

h1 {
  margin: 0;
  padding: 0;
}

main {
  padding: 20px;
}

/* TABLET BREAKPOINT */
  
@media screen and (min-width: 720px) {
  
}


/* DESKTOP BREAKPOINT */

@media screen and (min-width: 1200px) {

  .App-header {
    height: 150px;
  }

  
}