h1, h2, h3, h4 {
  margin: 0;
  padding: 0;
}

main {
  /* padding: 20px; */
}

.calendar-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: auto;
  padding-top: 10px;
}

.fc-toolbar {
  flex-direction: column;
  align-items: flex-start;
  height: 95px;
  padding-left: 20px;
  padding-right: 20px;
}

.fc-right {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.fc-event-container, .fc-list-item {
  cursor: pointer;
}

.fc-list-item-time {
  display: none;
}

.boxart {
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 100%;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  /* margin-top: 30px; */
  /* margin-bottom: 15px; */
}

.modal-heading {
  font-size: 52px;
  margin-bottom: 10px;
  padding-top: 30px;
  padding-left: 40px;
  padding-right: 30px;
  margin-top: 0;
  font-family: 'Roboto Slab', serif;
  font-weight: 700;
  line-height: 60px;
  letter-spacing: -2px;
}

.release-info {
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 40px;
  font-family: 'Roboto Slab', serif;
  font-weight: 200;
}

.info {
  font-size: 23px;
  margin-bottom: 10px;
}

.fav-button {
  margin-top: 10px;
  background-color: white;
  /* border: 1.5px solid rgba(0,0,0,.5); */
  border: none;
  box-shadow: 0px 0px 1.5px 1.5px rgba(0,0,0,.3);
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 30px;
  padding-right: 60px;
  border-radius: 10px;
  font-size: 23px;
  transition: all 0.5s ease 0s;
  font-family: 'Roboto Slab', serif;
  font-weight: 400;
  background-color: white;
  color: white;
  text-shadow: 0px 0px 3px black;
  text-align: left;
}

.favorited {
  background-color: black;
  color: white;
}

/* UNIFY TOOLBAR */
  
@media screen and (min-width: 600px) {

  .fc-toolbar {
    flex-direction: row;
    height: auto;
    justify-content: space-between;
  }

  .fc-right {
    width: initial;
  }
  
}


/* TABLET BREAKPOINT */
  
@media screen and (min-width: 720px) {
  
}


/* DESKTOP BREAKPOINT */

@media screen and (min-width: 1200px) {

  main {
    /* display: flex;
    flex-flow: column;
    height: 100%; */
  }

  .calendar-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-top: 0px;
    height: calc(100% - 95px);
    position: absolute;
    top: 75px;
    bottom: 0;
    width: 100%;
  }

  .fc {
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    overflow: scroll;
    overflow-x: hidden;
    padding-top: 20px;
  }

  /* Calendar collapses weeks without this */
  .fc-week {
    min-height: 199px !important;
  }

  /* Necessary to effect the style */
  .fc-toolbar {
    margin-bottom: 1em !important;
    padding-left: 0;
    padding-right: 0;
  }
  

  .modal-heading {
    padding-right: 80px;
    line-height: 70px;
    font-size: 72px;
  }

  
}

@media screen and (min-width: 1400px) {

  .calendar-wrapper {
    justify-content: space-between;
  }

  .fc {
    margin-left: -75px;
  }

  
  ._loading_overlay_overlay { 
    margin-left: -75px; 
    width: calc(100% + 75px)
  }

  
}